##카운트 방식의 텍스트 유사도 계산

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [4]:
text = [
   'The sky is blue.',             # ‘sky’, ‘blue’       
   'The sun is bright.',          # ‘sun’, ‘bright’     
   'The sun in the sky is bright',    # ‘sun’, ‘sky’, ‘bright’
   'We can see the shining sun, the bright sun.'  # ‘ see’, ‘shining’, ‘sun’, ‘bright’ 
]

In [5]:
countervectorizer = CountVectorizer(analyzer='word', stop_words='english')

In [6]:
count_wm = countervectorizer.fit_transform(text)
print(count_wm.shape)
print(count_wm.todense())

(4, 5)
[[1 0 0 1 0]
 [0 1 0 0 1]
 [0 1 0 1 1]
 [0 1 1 0 2]]

In [10]:
count_tokens = countervectorizer.get_feature_names()
print(count_tokens)
df_countvect = pd.DataFrame(data = count_wm.toarray(), index=['Doc1', 'Doc2', 'Doc3', 'Doc4'], columns=count_tokens)
df_countvect.head()

['blue', 'bright', 'shining', 'sky', 'sun']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      blue  bright  shining  sky  sun
Doc1     1       0        0    1    0
Doc2     0       1        0    0    1
Doc3     0       1        0    1    1
Doc4     0       1        1    0    2

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarities = cosine_similarity(count_wm)
print(cosine_similarities)

[[1.         0.         0.40824829 0.        ]
 [0.         1.         0.81649658 0.8660254 ]
 [0.40824829 0.81649658 1.         0.70710678]
 [0.         0.8660254  0.70710678 1.        ]]

In [12]:
pd.DataFrame(data = cosine_similarities, index = ['Doc1', 'Doc2', 'Doc3', 'Doc4'], columns = ['Doc1', 'Doc2', 'Doc3', 'Doc4'])

          Doc1      Doc2      Doc3      Doc4
Doc1  1.000000  0.000000  0.408248  0.000000
Doc2  0.000000  1.000000  0.816497  0.866025
Doc3  0.408248  0.816497  1.000000  0.707107
Doc4  0.000000  0.866025  0.707107  1.000000

## TF-IDF 방식의 텍스트 유사도 계산

TF-IDF = TF(t, d) * IDF(t)

*   TF(t, d): 단어 t가 문서 d에서 몇번 나왔나?
*   IDF(t): 단어가 t가 전체 문서들중 몇개의 문서에서 나왔는지? Ln(N/DF)
    * N은 총 문서수를 나타내고 DF는 단어가 나온 문서를 말한다

기본적인 아이디어는 전체 문서에서 빈도수가 낮은 단어가 특정 문서에서 많이 나오는 경우 해당 문서에서 해당 단어의 점수가 더 높게 계산됨

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
tfidfvectorizer = TfidfVectorizer(analyzer='word', stop_words='english')

In [15]:
tfidf_wm = tfidfvectorizer.fit_transform(text)
print(tfidf_wm.shape)
print(tfidf_wm.todense())

(4, 5)
[[0.78528828 0.         0.         0.6191303  0.        ]
 [0.         0.70710678 0.         0.         0.70710678]
 [0.         0.53256952 0.         0.65782931 0.53256952]
 [0.         0.36626037 0.57381765 0.         0.73252075]]

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarities = cosine_similarity(tfidf_wm)
cosine_similarities

array([[1.        , 0.        , 0.40728206, 0.        ],
       [0.        , 1.        , 0.75316704, 0.77695558],
       [0.40728206, 0.75316704, 1.        , 0.58517734],
       [0.        , 0.77695558, 0.58517734, 1.        ]])

In [18]:
pd.DataFrame(data = cosine_similarities, index=['Doc1', 'Doc2', 'Doc3', 'Doc4'], columns=['Doc1', 'Doc2', 'Doc3', 'Doc4'])

          Doc1      Doc2      Doc3      Doc4
Doc1  1.000000  0.000000  0.407282  0.000000
Doc2  0.000000  1.000000  0.753167  0.776956
Doc3  0.407282  0.753167  1.000000  0.585177
Doc4  0.000000  0.776956  0.585177  1.000000